<div class="home">
  <h1>Typing Teacher's Treasure Trove</h1>
  <%= image_tag 'keyboard.svg', alt: 'keyboard.svg', width: '250' %>
  <% if local_assigns[:errors] %>
    <%= errors %>
  <% end %>
  <%= form_tag(search_path, :method => "get",   
    class: 'search-form') do %>
    <%= search_field_tag :search, params[:search], placeholder: "Teacher's name", class: "", autofocus: true %>
    <%= button_tag "Search", :class => '',:name => nil%>
  <% end %>
</div>
