<!DOCTYPE html>
<html>
  <head>
    <title>Type</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if defined?(@quiz) && @quiz[:id] %>
      <%= render partial: 'shared/nav' unless current_page?(quiz_path(@quiz))%>
    <% else %>
      <%= render partial: 'shared/nav' %>
    <% end %>
    <%= yield %>
  </body>
</html>
